*{
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
  
#wrapper{
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}
  
body{
    background: rgb(1, 1, 65);
}
  
h1{
    margin-top: 2rem;
    color: #fff;
    font-size: 2rem;
}
  
.question_box{
    margin-top: 2rem;
    margin-left: 5%;
    width: 90%;
    height: 35rem;
    background: #fff;
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
}
  
.answers {
    padding: 1rem;
}
  
.answers p {
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: left;
    background: rgb(1, 1, 65);
    color: #fff;
    font-size: 1.2rem;
    
}
  
  span {
    font-size: 1.5rem;
    float: left;
    margin-left: 2rem;
  }
  
  #next {
    float: right;
    margin-right: 5%;
    width: 10rem;
    height: 2.5rem;
    background: rgb(1, 1, 65);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }
  
  #next:hover {
    background-color: yellow;
    color: black;
    font-weight: bold;
  }
  
  ul {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20%;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}
  
ul a{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}
  
ul li a:hover{
    color: yellow;
}
  
@media screen and (max-width: 768px){
    /* styles for iPad */
    h1{
        font-size: 1.5rem;
    }

    .question_box{
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 25rem;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .answers p{
        font-size: 1rem;
        padding: 0.5rem;
    }

    span{
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }

    #next{
        width: 8rem;
        height: 2rem;
        font-size: 1rem;
        margin-right: 2.5%;
    }

    ul li{
        margin-left: 15%;
        font-size: 1.5rem;
    }
}
  
  @media screen and (max-width: 480px) {
    /* styles for mobile */
    h1{
        font-size: 1.5rem;
    }

    .question_box {
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: auto;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .answers p {
        font-size: 1rem;
        padding: 0.5rem;
    }

    span{
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }

    #next{
        width: 8rem;
        height: 2rem;
        font-size: 1rem;
        margin-right: 2.5%;
    }

    ul li{
        margin-left: 1rem;
        font-size: 1.5rem;
        margin-top: 1%;
    }
}