*{
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
  
#wrapper{
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}
  
body{
    background: rgb(1, 1, 65);
}
  
h1{
    margin-top: 2rem;
    color: #fff;
    font-size: 2rem;
}
  
.question_box{
    margin-top: 2rem;
    margin-left: 5%;
    width: 90%;
    height: auto;
    background: #fff;
    text-align: left;
    padding: 2rem;
    border-radius: 1rem;
}
  
#answers{
    padding: 1rem;
}
  
#answers li{
    list-style: none;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    text-align: left;
    background: rgb(1, 1, 65);
    color: #fff;
    font-size: 1.2rem;
}
  
span{
    font-size: 1.5rem;
    float: left;
    margin-left: 2rem;
}
  
button{
    float: right;
    margin-right: 5%;
    width: 10rem;
    height: 2.5rem;
    background: rgb(1, 1, 65);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}
  
#next:hover{
    background-color: yellow;
    color: black;
    font-weight: bold;
}

#report:hover{
    background-color: red;
    color: black;
    font-weight: bold;
}

#report_box{
    width: 250px;
    height: auto;
    position: absolute;
    left: 40%;
    top: 17%;
    background-color: #fff;
    border: solid 5px black;
    border-radius: 5px;
    padding: 2%;
    transition: opacity 0.5s;
    display:none;
    opacity: 1;
}

#report_submit{
    margin-right: 5%;
    width: 10rem;
    height: 2.5rem;
    background: rgb(1, 1, 65);
    color: #fff;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#reported{
    float: right;
    margin-right: 65px;
    margin-top: 10px;
    font-weight: 1000;
    color:red;
    display:none;
}
  
#links{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
#links li{
    list-style: none;
    display: inline-block;
    margin-left: 15%;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
}
  
#links a{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}
  
#links li a:hover{
    color: yellow;
}
  
@media screen and (max-width: 768px){
    /* styles for iPad */
    h1{
        font-size: 1.5rem;
    }

    .question_box{
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: auto;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .answers p{
        font-size: 1rem;
        padding: 0.5rem;
    }

    span{
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }

    button{
        width: 8rem;
        height: 2rem;
        font-size: 1rem;
        margin-right: 2.5%;
    }

    #links li{
        margin-left: 15%;
        font-size: 1.5rem;
    }
}
  
  @media screen and (max-width: 480px) {
    /* styles for mobile */
    h1{
        font-size: 1.5rem;
    }

    .question_box {
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: auto;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .answers p {
        font-size: 1rem;
        padding: 0.5rem;
    }

    span{
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }

    button{
        width: 8rem;
        height: 2rem;
        font-size: 1rem;
        margin-right: 2.5%;
    }

    #report_submit{
        width: 8rem;
        height: 2rem;
        font-size: 1rem;
        margin-right: 20%;
    }

    #links li{
        margin-left: 1rem;
        font-size: 16px;
        margin-top: 1%;
    }

    #report_box{
        top: 75%;
        left: 15%;
    }

    #reported{
        margin-right: 35px;
    }
}